{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "@appliedblockchain"
  ],
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}
